---
import { Picture } from "astro:assets";
import HeroLogo from "../../public/assets/hero-logo.webp";
---

<section>
  <video muted src="/assets/hero.mp4" autoplay loop></video>
  <div class="logo">
    <Picture src={HeroLogo} alt="logo" format="webp" loading="eager"  />
  </div>
</section>

<style>
  section {
    height: 100vh;
    background-color: black;
  }

  video {
    position: relative;
    width: 100%;
  }

  .logo {
    position: relative;
    top: -350px;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    .logo {
      top: -500px;
    }
  }

  .logo img {
    width: 100%;
    max-width: 600px;
    height: auto;
  }
</style>
