---
import { Image } from "astro:assets";
---

<section>
  <video muted src="/assets/hero.mp4" autoplay loop></video>
  <div class="logo">
    <Image src="/assets/hero-logo.webp" width={600} height={190.5} alt="logo" format="webp" loading="eager" />
  </div>
</section>

<style>
  section {
    height: 100vh;
    background-color: black;
  }

  video {
    position: relative;
    width: 100%;
  }

  .logo {
    position: relative;
    top: -350px;
    text-align: center;
  }

  @media screen and (min-width: 1024px) {
    .logo {
      top: -450px;
    }
  }

  .logo img {
    width: 600px;
  }
</style>
