---
import { Picture } from "astro:assets";
import Trailer from "../../public/assets/launch-trailer.jpg";
---

<section>
    <div class="trailer">
        <Picture src={Trailer} alt="trailer" format="webp" loading="eager" />
    </div>

    <div class="description">
        Hogwarts Legacy is an immersive, open-world action RPG set in the world first introduced in the Harry Potter books. For the first time, experience Hogwarts in the 1800s. Your character is a student who holds the key to an ancient secret that threatens to tear the wizarding world apart. Now you can take control of the action and be at the center of your own adventure in the wizarding world. Your legacy is what you make of it.
    </div>

    <div class="cardsContainer">
        
    </div>
</section>