<div class="w-full relative">
  <video
    muted
    src="/video.mp4"
    autoplay
    loop
    class="w-full h-screen object-cover object-top"
    style="clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%);"
  ></video>

  <video
    muted
    src="/video.mp4"
    autoplay
    loop
    class="absolute -bottom-48 blur-3xl -z-40"></video>
</div>
